body {
  background: #1C2327;
  font-family: 'Permanent Marker', "Verdana";
}
@media only screen and (min-width: 0px) {
  h1 {
    background: #ff7518;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    background: #fff;
    color: #666;
    height: 40px;
    line-height: 40px;
  }
  li:nth-child(2n) {
    background: #f7f7f7;
  }
  span {
    background: #F96140;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    opacity: 0;
    transition: all 0.350s;
    text-align: center;
    width: 0px;
  }
  li:hover span {
    opacity: 1;
    width: 40px;
  }
  input {
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ff7518;
    font-family: inherit;
    font-size: 18px;
    padding: 13px 13px 13px 20px;
    width: 100%;
  }
  input:focus {
    border: 3px solid #ff7518;
  }
  .completed {
    color: gray;
    text-decoration: line-through;
  }
  #container {
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
  }
}
@media only screen and (min-width: 768px) {
  #container {
    width: 40%;
  }
}
